<template data-title="html" data-preview="true">
    <div class="h-screen flex">
        <div class="w-64 px-8 py-4 bg-gray-200 overflow-auto">
            <img class="h-9 w-9" src="/img/icons/apple-touch-icon-60x60.png" alt="">
            <nav class="mt-8">
                <h3 class="text-xs font-semibold text-gray-600 uppercase tracking-wider">Issues</h3>
                <div class="mt-2 -mx-2">
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg bg-gray-300"
                    >
                        <span class="text-sm font-medium text-gray-900">All</span>
                        <span class="text-xs font-semibold text-gray-700">36</span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">Assigned to me</span>
                        <span class="text-xs font-semibold text-gray-700">2</span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">Created by me</span>
                        <span class="text-xs font-semibold text-gray-700">1</span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">Archived</span>
                    </a>
                </div>
                <h3 class="mt-8 text-xs font-semibold text-gray-600 uppercase tracking-wider">Tags</h3>
                <div class="mt-2 -mx-2">
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg bg-gray-300"
                    >
                        <span class="text-sm font-medium text-gray-900">Bug</span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">Feature request</span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">Markenting</span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">V 2.0</span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">Enhancement </span>
                    </a>
                    <a  href="#" 
                        class="flex justify-between items-center px-3 py-2 rounded-lg"
                    >
                        <span class="text-sm font-medium text-gray-700">Design</span>
                    </a>
                    
                </div>
                <button class="mt-2 -ml-1 flex items-center text-sm font-medium text-gray-600">
                    <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                        <path 
                            stroke="currentColor" 
                            stroke-width="2" 
                            stroke-linecap="round" 
                            d="M12 7v10m5-5H7" 
                        />
                    </svg>
                    <span class="ml-1">New Project</span>
                </button>
            </nav>
        </div>
        <div class="flex-1 min-w-0 flex flex-col bg-white">
            <div class="flex-shrink-0 border-b-2 border-gray-200">
                <header class="px-6">
                    <div class="flex justify-between items-center py-3 border-b border-gray-200">
                        <div class="flex-1">
                            <div class="relative w-64">
                                <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                                    <svg class="h-6 w-6 text-gray-600" viewBox="0 0 24 24" fill="none">
                                        <path
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                        />
                                    </svg>
                                </span>
                                <input class="block w-full rounded-md border border-gray-400 pl-10 pr-4 py-2 text-gray-900 text-sm placeholder-gray-600" type="text"
                                    placeholder="Search"
                                />
                            </div>
                        </div>
                        <div class="flex items-center">
                            <button>
                                <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
                                        <path
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            d="M16,17H7V10.5C7,8 9,6 11.5,6C14,6 16,8 16,10.5M18,16V10.5C18,7.43 15.86,4.86 13,4.18V3.5A1.5,1.5 0 0,0 11.5,2A1.5,1.5 0 0,0 10,3.5V4.18C7.13,4.86 5,7.43 5,10.5V16L3,18V19H20V18M11.5,22A2,2 0 0,0 13.5,20H9.5A2,2 0 0,0 11.5,22Z"
                                        />
                                    </svg>
                            </button>
                            <button class="ml-6">
                                <img 
                                    class="h-9 w-9 rounded-full object-cover" 
                                    src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                    alt="Your profile image"
                                />
                            </button>
                        </div>
                    </div>
                    <div class="flex items-center justify-between py-2">
                        <div class="flex items-center">
                            <h2 class="text-2xl font-semibold text-gray-900 leading-tight">All Issues</h2>
                            <div class="ml-6 flex items-center">
                                <span class="rounded-full border-2 border-white">
                                    <img 
                                        class="h-9 w-9 rounded-full object-cover" 
                                        src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                        alt=""
                                    />
                                </span>
                                <span class="-ml-2 rounded-full border-2 border-white">
                                    <img 
                                        class="h-9 w-9 rounded-full object-cover" 
                                        src="https://images.unsplash.com/photo-1485203535145-9eb0f2707965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                        alt=""
                                    />
                                </span>
                                <span class="-ml-2 rounded-full border-2 border-white">
                                    <img 
                                        class="h-9 w-9 rounded-full object-cover" 
                                        src="https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                        alt=""
                                    />
                                </span>
                                <span class="-ml-2 rounded-full border-2 border-white">
                                    <img 
                                        class="h-9 w-9 rounded-full object-cover" 
                                        src="https://images.unsplash.com/photo-1494788185066-84d048a0115a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                        alt=""
                                    />
                                </span>
                            </div>
                        </div>
                        <div class="flex">
                            <span class="inline-flex p-1 border bg-gray-200 rounded-md">
                                <button class="px-2 py-1 rounded">
                                    <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
                                        <path
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round" 
                                            d="M4 6h16M4 10h16M4 14h16M4 18h16"
                                        />
                                    </svg>
                                </button>
                                <button class="px-2 py-1 bg-white rounded shadow">
                                    <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
                                        <path
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            d="M13,5H10A1,1 0 0,0 9,6V18A1,1 0 0,0 10,19H13A1,1 0 0,0 14,18V6A1,1 0 0,0 13,5M20,5H17A1,1 0 0,0 16,6V18A1,1 0 0,0 17,19H20A1,1 0 0,0 21,18V6A1,1 0 0,0 20,5M6,5H3A1,1 0 0,0 2,6V18A1,1 0 0,0 3,19H6A1,1 0 0,0 7,18V6A1,1 0 0,0 6,5Z" 
                                        />
                                    </svg>
                                </button>
                            </span>

                            <button class="ml-5 flex items-center pl-2 pr-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-lg hover:bg-gray-700">
                                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                                    <path 
                                        stroke="currentColor" 
                                        stroke-width="2" 
                                        stroke-linecap="round"
                                        d="M12 7v10m5-5H7" 
                                    />
                                </svg>
                                <span class="ml-1">New Issue</span>
                            </button>
                        </div>
                    </div>
                </header>
            </div>
            <div class="flex-1 overflow-auto">
                <main class="p-3 inline-flex">
                    <div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded-md">
                        <h3 class="text-sm font-medium text-gray-900">Backlog</h3>
                        <ul class="mt-2">
                            <li>
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ml-3 flex-shrink-0 p-3 w-80 bg-gray-100 rounded-md">
                        <h3 class="text-sm font-medium text-gray-900">Backlog</h3>
                        <ul class="mt-2">
                            <li>
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ml-3 flex-shrink-0 p-3 w-80 bg-gray-100 rounded-md">
                        <h3 class="text-sm font-medium text-gray-900">Backlog</h3>
                        <ul class="mt-2">
                            <li>
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ml-3 flex-shrink-0 p-3 w-80 bg-gray-100 rounded-md">
                        <h3 class="text-sm font-medium text-gray-900">Backlog</h3>
                        <ul class="mt-2">
                            <li>
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a href="" class="block p-5 bg-white rounded-lg shadow">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium leading-snug text-gray-900">
                                            Add discount code to checkout Page
                                        </p>
                                        <span class="ml-2">
                                            <img 
                                                class="h-6 w-6 rounded-full object-cover" 
                                                src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                                                alt=""
                                            />
                                        </span>
                                    </div>
                                    <div class="flex justify-between items-baseline">
                                        <div class="text-sm text-gray-600">
                                            <time datetime="2019-09-14">Sep 14</time>
                                        </div>
                                        <div class="mt-2">
                                            <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                                                <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                                                    <circle cx="4" cy="4" r="3" />
                                                </svg>
                                                <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>